# Игнорировать директорию node_modules
node_modules/

# Игнорировать директорию dist со сборками проекта
dist/

.idea

# Игнорировать временные файлы, созданные текстовыми редакторами
*~
*.swp
*.swo

# Игнорировать системные файлы Mac OS
.DS_Store

# Игнорировать лог-файлы
*.log

# Игнорировать файлы конфигурации
*.config

# Игнорировать файлы с паролями, ключами и другой конфиденциальной информацией
secret.txt

