.app.light {
  --bg-color: #c4c4cc;
  --inverted-bg-color: #0d0d1f;

  --primary-color: #0232c2;
  --secondary-color: #0449e0;

  --inverted-primary-color: #08a808;
  --inverted-secondary-color: #04ff04;
}